{% extends "base.html.j2" %}
{% block frame %}
<div class="frame">
  <div class="head">
    {% if d.eyebrow %}<div data-ppt="text" class="kicker">{{ d.eyebrow }}</div>{% endif %}
    <div data-ppt="text" class="h-title">{{ d.title }}</div>
  </div>
  <div data-ppt="rect" class="head-rule"></div>
  <div class="body chart-body">
    <div class="chart-wrap">
      <div class="chart-area">
        <div data-ppt="chart" data-chart='{{ chart_json|safe }}' class="chart-box"></div>
      </div>
      {% if d.takeaway %}
      <div class="takeaway">
        <div data-ppt="rect" class="takeaway-bar"></div>
        <div data-ppt="text" class="takeaway-text">{{ d.takeaway }}</div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
