{% extends "base.html.j2" %}
{% block klass %}dark{% endblock %}
{% block bg %}{% endblock %}
{% block frame %}
<div data-ppt="rect" data-ppt-z="-20" data-grad="{{ colors['bg'][1:] }},{{ colors['bg-2'][1:] }},145"
     style="position:absolute;inset:0;background:linear-gradient(145deg,{{ colors['bg'] }},{{ colors['bg-2'] }});"></div>
<div class="quote-frame">
  <div data-ppt="text" class="quote-mark">“</div>
  <div data-ppt="text" class="quote-text">{{ d.quote }}</div>
  <div data-ppt="rect" class="quote-bar"></div>
  {% if d.attribution %}<div data-ppt="text" class="quote-attr">{{ d.attribution }}</div>{% endif %}
</div>
{% endblock %}
