{% extends "base.html.j2" %}
{% block klass %}dark{% endblock %}
{% block bg %}{% endblock %}
{% block frame %}
<div data-ppt="rect" data-ppt-z="-20" data-grad="{{ colors['bg'][1:] }},{{ colors['bg-2'][1:] }},145"
     style="position:absolute;inset:0;background:linear-gradient(145deg,{{ colors['bg'] }},{{ colors['bg-2'] }});"></div>
{% if d.number %}<div data-ppt="text" data-ppt-deco data-ppt-z="-5" class="section-ghost">{{ d.number }}</div>{% endif %}
<div class="section-frame">
  {% if d.number %}<div data-ppt="text" class="section-num">{{ d.number }}</div>{% endif %}
  <div data-ppt="text" class="section-title">{{ d.title }}</div>
  <div data-ppt="rect" class="section-bar"></div>
  {% if d.subtitle %}<div data-ppt="text" class="section-sub">{{ d.subtitle }}</div>{% endif %}
</div>
{% endblock %}
