{% extends "base.html.j2" %}
{% block frame %}
<div class="frame">
  <div class="head">
    {% if d.eyebrow %}<div data-ppt="text" class="kicker">{{ d.eyebrow }}</div>{% endif %}
    <div data-ppt="text" class="h-title">{{ d.title }}</div>
  </div>
  <div data-ppt="rect" class="head-rule"></div>
  <div class="body cols-body">
    <div class="cols">
      {% for col in [d.left, d.right] %}
      <div class="col">
        <div data-ppt="text" class="col-h">{{ col.heading }}</div>
        <div data-ppt="rect" class="col-bar"></div>
        {% for pt in col.points %}
        <div class="prow">
          <div data-ppt="rect" class="pmark"></div>
          <div data-ppt="text" class="ptext">{{ pt }}</div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
