<div data-ppt="rect" class="m-foot-rule"></div>
<div class="m-foot">
  <div data-ppt="text" class="m-foot-t">{{ d.eyebrow if d.eyebrow is defined and d.eyebrow else 'MORANDI FRESH SERIES' }}</div>
  <div data-ppt="text" class="m-foot-t">SOFT SAGE · CREAM · TERRACOTTA</div>
</div>
