{% if page_total %}
{% set fl = foot_left|default(deck_title) %}
{% set fm = foot_muted|default(colors['grey-3'], true) %}
{% set fd = foot_dot|default(colors['grey-2'], true) %}
{% set fa = foot_accent|default(colors['accent'], true) %}
<div class="s-pagefoot">
  <div data-ppt="text" class="s-foot-t" style="color:{{ fm }};">{{ fl }}</div>
  <div class="s-dots">
    {% for i in range(page_total) %}
    <div data-ppt="rect" style="width:5px;height:5px;background:{{ fa if (i + 1) == page_no else fd }};"></div>
    {% endfor %}
  </div>
  <div data-ppt="text" class="s-foot-t" style="color:{{ fm }};">SWISS INTERNATIONAL · IKB</div>
</div>
{% endif %}
