<div data-ppt="rect" class="s-foot-rule"></div>
<div class="s-foot">
  <div data-ppt="text" class="s-foot-t">{{ d.eyebrow if d.eyebrow is defined and d.eyebrow else 'SWISS INTERNATIONAL STYLE' }}</div>
  <div data-ppt="text" class="s-foot-t">HELVETICA DISCIPLINE · 1 ACCENT</div>
</div>
