{% extends "base.html.j2" %}
{% block frame %}
<div class="s-frame">
  {% include "_head.html.j2" %}
  <div class="s-body" style="align-items:center;">
    <div class="s-chart-wrap">
      <div class="s-chart-area">
        <div data-ppt="chart" data-chart='{{ chart_json|safe }}' class="s-chart-box"></div>
      </div>
      {% if d.takeaway %}
      <div data-ppt="rect" class="s-take" style="background:{{ colors['accent'] }};">
        <div data-ppt="text" class="s-take-k">TAKEAWAY</div>
        <div data-ppt="text" class="s-take-text">{{ d.takeaway }}</div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% include "_foot.html.j2" %}
{% endblock %}
