{% extends "base.html.j2" %}
{% block frame %}
<div class="s-frame">
  {% include "_head.html.j2" %}
  <div class="s-body" style="align-items:center;">
    <div class="s-proc">
      <div data-ppt="rect" class="s-proc-axis"></div>
      <div class="s-proc-row">
        {% for s in d.steps %}
        <div class="s-proc-item">
          <div data-ppt="text" class="s-proc-num">{{ '%02d' % loop.index }}</div>
          <div data-ppt="rect" class="s-proc-node"></div>
          <div data-ppt="text" class="s-proc-title">{{ s.title }}</div>
          {% if s.desc %}<div data-ppt="text" class="s-proc-desc">{{ s.desc }}</div>{% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include "_foot.html.j2" %}
</div>
{% endblock %}
