<div class="r-head">
  <div data-ppt="rect" data-ppt-deco class="r-hbar-ghost" style="background:{{ colors['pink'] }};"></div>
  <div data-ppt="rect" data-ppt-z="1" class="r-hbar-main" style="background:{{ colors['blue'] }};"></div>
  <div class="r-title-wrap">
    <div data-ppt="text" data-ppt-deco class="r-title" data-ppt-z="1" style="position:absolute;left:3px;top:3px;color:{{ colors['blue'] }};">{{ d.title }}</div>
    <div data-ppt="text" class="r-title" data-ppt-z="2" style="position:relative;color:{{ colors['ink'] }};">{{ d.title }}</div>
  </div>
  {% if d.eyebrow %}
  <div class="r-kick-wrap">
    <div data-ppt="text" class="r-kicker">{{ d.eyebrow }}</div>
    <div data-ppt="rect" class="r-kick-rule"></div>
  </div>
  {% endif %}
  {% if d.subtitle is defined and d.subtitle %}<div data-ppt="text" class="r-sub">{{ d.subtitle }}</div>{% endif %}
</div>
