{% extends "base.html.j2" %}
{% block frame %}
{% set sides = [
  (d.left,  {'bg': colors['blue'], 'fg': colors['bg-content'], 'accent': colors['mustard'], 'shadow': colors['pink']}),
  (d.right, {'bg': colors['pink'], 'fg': colors['ink'],        'accent': colors['blue'],    'shadow': colors['blue']})
] %}
<div class="r-frame">
  {% include "_head.html.j2" %}
  {% include "_band.html.j2" %}
  <div class="r-body">
    <div class="r-cmp">
      {% for col, c in sides %}
      <div class="r-cmp-cell">
        <div data-ppt="rect" data-ppt-deco class="r-cmp-shadow" style="background:{{ c.shadow }};"></div>
        <div data-ppt="rect" class="r-cmp-card" style="background:{{ c.bg }};color:{{ c.fg }};">
          <div data-ppt="text" class="r-cmp-h" style="color:{{ c.fg }};">{{ col.heading }}</div>
          <div data-ppt="rect" class="r-cmp-rule" style="background:{{ c.accent }};"></div>
          <div class="r-cmp-points">
            {% for pt in col.points %}
            <div class="r-cmp-row">
              <div data-ppt="rect" class="r-cmp-mark" style="background:{{ c.accent }};"></div>
              <div data-ppt="text" class="r-cmp-text" style="color:{{ c.fg }};">{{ pt }}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      <div data-ppt="rect" data-ppt-z="5" class="r-cols-badge" style="background:{{ colors['mustard'] }};">
        <div data-ppt="text" data-ppt-z="6" class="r-cols-badge-t">VS</div>
      </div>
    </div>
  </div>
  {% include "_foot.html.j2" %}
</div>
{% endblock %}
