{% extends "base.html.j2" %}
{% block frame %}
<div class="r-frame">
  {% include "_head.html.j2" %}
  <div class="r-body">
    <div class="r-table">
      <div class="r-trow h-row">
        {% for h in d.headers %}
        <div data-ppt="rect" class="r-tcell h" style="background:{{ colors['blue'] }};">
          <div data-ppt="text" class="r-tcell-t">{{ h }}</div>
        </div>
        {% endfor %}
      </div>
      {% for row in d.rows %}
      {% set ri = loop.index0 %}
      <div class="r-trow">
        {% for cell in row %}
        <div data-ppt="rect" class="r-tcell" style="background:{{ colors['bg-content'] if ri % 2 == 0 else colors['paper-2'] }};">
          <div data-ppt="text" class="r-tcell-t">{{ cell }}</div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% include "_note.html.j2" %}
  {% include "_foot.html.j2" %}
</div>
{% endblock %}
