{% extends "base.html.j2" %}
{% block frame %}
<div class="r-frame">
  {% include "_head.html.j2" %}
  <div class="r-body" style="align-items:center;">
    <div class="r-toc">
      {% for it in d['items'] %}
      {% set accent = [colors['pink'], colors['blue'], colors['mustard']][loop.index0 % 3] %}
      {% set chip_fg = colors['bg-content'] if accent == colors['blue'] else colors['ink'] %}
      <div class="r-toc-item">
        <div class="r-toc-row">
          <div class="r-toc-chipwrap">
            <div data-ppt="rect" data-ppt-deco class="r-toc-chipshadow" style="background:{{ colors['ink'] }};"></div>
            <div data-ppt="rect" data-ppt-z="1" class="r-toc-chip" style="background:{{ accent }};">
              <div data-ppt="text" data-ppt-z="2" class="r-toc-chip-t" style="color:{{ chip_fg }};">{{ '%02d' % loop.index }}</div>
            </div>
          </div>
          <div class="r-toc-main">
            <div data-ppt="text" class="r-toc-title">{{ it.title }}</div>
            {% if it.desc %}<div data-ppt="text" class="r-toc-desc">{{ it.desc }}</div>{% endif %}
          </div>
          {% if it.pages %}
          <div class="r-toc-pgwrap">
            <div data-ppt="rect" data-ppt-deco class="r-toc-pgshadow" style="background:{{ colors['pink'] }};"></div>
            <div data-ppt="rect" data-ppt-z="1" class="r-toc-pg" style="background:{{ colors['blue'] }};">
              <div data-ppt="text" data-ppt-z="2" class="r-toc-pg-t" style="color:{{ colors['bg-content'] }};">{{ it.pages }}</div>
            </div>
          </div>
          {% endif %}
        </div>
        <div data-ppt="rect" class="r-toc-rule"></div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include "_foot.html.j2" %}
</div>
{% endblock %}
