{% extends "base.html.j2" %}
{% block frame %}
<div class="r-frame">
  {% include "_head.html.j2" %}
  <div class="r-body" style="align-items:center;">
    <div class="r-chart-wrap">
      <div class="r-chart-area">
        <div data-ppt="chart" data-chart='{{ chart_json|safe }}' class="r-chart-box"></div>
      </div>
      {% if d.takeaway %}
      <div class="r-take">
        <div data-ppt="rect" class="r-take-shadow" style="background:{{ colors['pink'] }};"></div>
        <div data-ppt="rect" class="r-take-block" style="background:{{ colors['blue'] }};color:{{ colors['bg-content'] }};">
          <div data-ppt="text" class="r-take-k" style="color:{{ colors['mustard'] }};">TAKEAWAY</div>
          <div data-ppt="text" class="r-take-text" style="color:{{ colors['bg-content'] }};">{{ d.takeaway }}</div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
