{% extends "base.html.j2" %}
{% block frame %}
<div class="r-frame">
  {% include "_head.html.j2" %}
  <div class="r-body">
    <div class="r-cols">
      {% for col, accent in [(d.left, colors['blue']), (d.right, colors['pink'])] %}
      <div class="r-col">
        <div data-ppt="text" class="r-col-h" style="color:{{ accent }};">{{ col.heading }}</div>
        <div data-ppt="rect" class="r-col-rule" style="background:{{ accent }};"></div>
        <div class="r-col-points">
          {% for pt in col.points %}
          <div class="r-col-row">
            <div data-ppt="rect" class="r-col-mark" style="background:{{ accent }};"></div>
            <div data-ppt="text" class="r-col-text">{{ pt }}</div>
          </div>
          {% endfor %}
        </div>
        <div data-ppt="rect" class="r-col-end"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
