{% extends "base.html.j2" %}
{% block frame %}
<div class="s-frame">
  {% include "_head.html.j2" %}
  <div class="s-body" style="align-items:center;">
    <div class="s-kpis">
      {% for s in d.stats %}
      <div class="s-kpi">
        <div data-ppt="rect" class="s-kpi-rule" {% if loop.first %}style="background:{{ colors['accent'] }};"{% endif %}></div>
        <div data-ppt="text" class="s-kpi-val" style="color:{{ colors['accent'] if loop.first else colors['ink'] }};">{{ s.value }}</div>
        <div data-ppt="text" class="s-kpi-label">{{ s.label }}</div>
        {% if s.delta %}<div data-ppt="text" class="s-kpi-delta">{{ s.delta }}</div>{% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include "_foot.html.j2" %}
{% endblock %}
